.contact{
    border-top: 10px solid #8f384d;
    border-radius: 10px;
    margin: 20px;
    margin-bottom: 0;
    height: 100vh;
}
.contact h1{
    border-bottom: 2px solid black;
}
.contact__details{
    margin-top: 25px;
    padding: 20px;
    display: flex;
    text-align: center;
}
.contact__details > a {
    font-size: 20px;
    font-weight: 700;
    margin-left: 10px;
}
