.table{
    padding: 10px;
    margin: 5px 0 20px 0;
    overflow: scroll;
    height: 400px;
    overflow-x: hidden;
    border-top: 2px solid gray;
    border-bottom: 2px solid gray;
}
.table tr {
    display: flex;
    justify-content: space-between;
}
.table__name{
    flex: 0.4;
}
.table tr:nth-of-type(odd){
    background-color: #f3f2f8;
}
.table td{
    padding: 10px;
}
